*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #f0f0f0 !important;
    font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, sans-serif;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #4cb04f;
    color: white;
    height: 70px;
}
.name{
    margin-left: 55px;
    font-size: 2rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.name a{
    text-decoration: none;
    color: white;
}
.header{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    gap: 50px;
    background-color: white;
    margin: 50px 50px;
    padding: 25px;
}
.head-img{
    width: 150px;
    height: 150px;
}
.h-heading{
    font-size: 24px;
    letter-spacing: 1px;
    margin-bottom: 12px;
}
p1{
    font-size: 16px;
    color: #333333;
    letter-spacing: 1px;
    /* line-height: 1.6; */
}
.buttons{
    display: flex;
    gap: 10px;
    margin-left: -30px;
}
.btn1{
    background-color: #003e6b;
    color: white;
    width: 100px;
}
.btn2{
    background-color: #8c1657;
    color: white;
    width: 100px;
}
.btn3{
    background-color: #3eb442;
    color: white;
    width: 120;   
}