*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #f0f0f0 !important;
    font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, sans-serif;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #4cb04f;
    color: white;
    height: 70px;
}
.name{
    margin-left: 55px;
    font-size: 2rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.name a{
    text-decoration: none;
    color: white;
}
.header{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    gap: 50px;
    background-color: white;
    margin: 50px 50px;
    padding: 25px;
}
.head-img{
    width: 150px;
    height: 150px;
}
.h-heading{
    font-size: 24px;
    letter-spacing: 1px;
    margin-bottom: 12px;
}
p1{
    font-size: 16px;
    color: #333333;
    letter-spacing: 1px;
    /* line-height: 1.6; */
}
.container1{
    padding: 20px;
}
.buttons{
    display: flex;
    gap: 10px;
    margin-left: 30px;
}
.btn1{
    background-color: #003e6b;
    color: white;
    width: 100px;
}
.btn2{
    background-color: #8c1657;
    color: white;
    width: 100px;
}
.btn3{
    background-color: #3eb442;
    color: white;
}
.card-body{
    /* display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 10px;
    background-color: white;
    border-radius: 0.7rem;
    gap: 12px;
    height: 200px;
    font-size: 16px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1); */
    width: auto;
    padding: 5px 10px;
    height: 200px;
    box-shadow: rgb(0 0 0 / 16%) 0 1px 4px;
    border-radius: 10px;
    background: white;
    display: flex;
    gap: 10px;
    margin: 7px;

}   
.card-heading{
    font-size: 20px;
    margin-bottom: 20px;
}
.cards{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(550px, 2fr));
    gap: 0px;
    margin-top: 10px;
    width: 100%;
}
.card-btn{
    width: 150px;
    background-color: #1771bf;
    color: white;
}
footer{
    background-color: white;
    padding: 20px 0;
    margin-top: 30px;

}
.sub-footer{
    display: flex;
    flex-direction: column;
    align-items: start;    
    width: 53%;
    font-size: 14px;
}
.footer-heading{
    font-size: 20px;
    margin-bottom: 10px;
}
.footer-name{
    font-weight: bold;
}
.footer-name a {
    text-decoration: none;
    color: #333333;
    font-size: 2rem;
}
.footer-para{
    color: #b6b9bf;
}
.sub-footer2{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.made-by{
    color: #b6b9bf;
}








@media (max-width: 992px) {
    .cards {
        grid-template-columns: 1fr;
    }
    .header{
        flex-direction: column;
        text-align: center;
    }
}

/* Mobile */
@media (max-width: 576px) {
    .card-body {
        flex-direction: column;
        padding: 15px;
    }

    .cards {
        grid-template-columns: 1fr;
        gap: 15px;
        margin-top: 15px;
    }
}
